body
{
    background: rgba(0,176,240,1);
    
    background: -moz-linear-gradient(left, rgba(0,176,240,1) 0%, rgba(125,209,237,1) 18%, rgba(142,203,222,1) 79%, rgba(0,185,252,1) 100%);
    
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,176,240,1)), color-stop(18%, rgba(125,209,237,1)), color-stop(79%, rgba(142,203,222,1)), color-stop(100%, rgba(0,185,252,1)));
    
    background: -webkit-linear-gradient(left, rgba(0,176,240,1) 0%, rgba(125,209,237,1) 18%, rgba(142,203,222,1) 79%, rgba(0,185,252,1) 100%);
    
    background: -o-linear-gradient(left, rgba(0,176,240,1) 0%, rgba(125,209,237,1) 18%, rgba(142,203,222,1) 79%, rgba(0,185,252,1) 100%);
    
    background: -ms-linear-gradient(left, rgba(0,176,240,1) 0%, rgba(125,209,237,1) 18%, rgba(142,203,222,1) 79%, rgba(0,185,252,1) 100%);
    
    background: linear-gradient(to right, rgba(0,176,240,1) 0%, rgba(125,209,237,1) 18%, rgba(142,203,222,1) 79%, rgba(0,185,252,1) 100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0f0', endColorstr='#00b9fc', GradientType=1 );
    
    height: 600px;
}

.container
{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 3em;
}


.out
{
    margin-bottom: 10px;
    width: 100%;
}

.myBtn
{
    padding: 20px 20px;
    font-size: 40px;
    margin-botton: 20px;
}

.pass
{
    width: 400px;
    float: left;
    font-size: 30px;
    color: #fff;
    margin-left: 0;
    padding: 20px;
    background-color: #f63;
}

.in
{
    margin: 0;
    padding: 5px;
    float: center;
    text-align: center;
    background-color: #fff;
    color: #f63;
}


footer
{
    color: grey;
    font-size: 20px;
    margin:0 110px;
    top: 50%;
    left: 50%;
    transform:  translateY(1600%);
    text-align: center;
    
}
